# GroupBy and Aggregate function

In [1]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("Practice").getOrCreate()
df_pyspark= spark.read.csv("file1.csv",header=True,inferSchema=True)
df_pyspark.show()
df_pyspark.groupBy("Departments").sum("salary").show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [2]:
df_pyspark.groupBy("Departments").sum("salary").show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [3]:
df_pyspark.groupBy("Departments").min("salary").show()

+------------+-----------+
| Departments|min(salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|       2000|
|Data Science|       3000|
+------------+-----------+

In [4]:
df_pyspark.groupBy("Departments").max("salary").show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [5]:
df_pyspark.groupBy("Departments").avg("salary").show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [6]:
df_pyspark.groupBy("Departments").mean("salary").show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [7]:
df_pyspark.groupBy("Departments").count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [8]:
df_pyspark.groupBy("Name","Departments").sum("salary").show()

+---------+------------+-----------+
|     Name| Departments|sum(salary)|
+---------+------------+-----------+
|    Sunny|    Big Data|       2000|
|   Mahesh|Data Science|       3000|
|Sudhanshu|Data Science|      20000|
|    Krish|Data Science|      10000|
|   Mahesh|    Big Data|       4000|
|    Sunny|Data Science|      10000|
|Sudhanshu|         IOT|      10000|
|    Krish|         IOT|       5000|
|Sudhanshu|    Big Data|       5000|
|    Krish|    Big Data|       4000|
+---------+------------+-----------+

# Agregate function using group by

In [9]:
df_pyspark.groupBy("Departments").agg(({"salary":"sum"})).show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [10]:
df_pyspark.agg(({"salary":"sum"})).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [11]:
df_pyspark.groupBy("Departments").pivot("Name").sum("salary").show()

+------------+-----+------+---------+-----+
| Departments|Krish|Mahesh|Sudhanshu|Sunny|
+------------+-----+------+---------+-----+
|         IOT| 5000|  NULL|    10000| NULL|
|    Big Data| 4000|  4000|     5000| 2000|
|Data Science|10000|  3000|    20000|10000|
+------------+-----+------+---------+-----+

# Handling Missing Values

In [13]:
df_pyspark1=spark.read.csv("file 2.csv",header=True,inferSchema=True)
df_pyspark1.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [14]:
df_pyspark1.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

# how, thresh and subset

In [16]:
df_pyspark1.na.drop(how="all").show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [17]:
df_pyspark1.na.drop(how="any",thresh=2).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
+---------+----+----------+------+

In [18]:
df_pyspark1.na.drop(how="any",subset=["salary"]).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
+---------+----+----------+------+

# sorting

In [19]:
df_pyspark.sort("salary").show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Sunny|    Big Data|  2000|
|   Mahesh|Data Science|  3000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|    Krish|         IOT|  5000|
|Sudhanshu|    Big Data|  5000|
|    Krish|Data Science| 10000|
|Sudhanshu|         IOT| 10000|
|    Sunny|Data Science| 10000|
|Sudhanshu|Data Science| 20000|
+---------+------------+------+

In [20]:
df_pyspark.sort(df_pyspark["salary"].desc()).show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|Sudhanshu|Data Science| 20000|
|    Krish|Data Science| 10000|
|Sudhanshu|         IOT| 10000|
|    Sunny|Data Science| 10000|
|    Krish|         IOT|  5000|
|Sudhanshu|    Big Data|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [21]:
df_pyspark.sort("salary","Name").show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Sunny|    Big Data|  2000|
|   Mahesh|Data Science|  3000|
|    Krish|    Big Data|  4000|
|   Mahesh|    Big Data|  4000|
|    Krish|         IOT|  5000|
|Sudhanshu|    Big Data|  5000|
|    Krish|Data Science| 10000|
|Sudhanshu|         IOT| 10000|
|    Sunny|Data Science| 10000|
|Sudhanshu|Data Science| 20000|
+---------+------------+------+

# join() Pyspark

SyntaxError: invalid syntax (4161056906.py, line 1)